In [17]:
import pandas as pd
df = pd.read_csv (r'results.csv')
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,LOT 1Closed,History of the Académie des Inscriptions et Be...,"Count of Maurepas' copy, 1740",Estimate,"USD 1,500 - USD 2,500",Price Realised,"USD 2,250",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
1,1,LOT 2Closed,Medals of Louis XIV,"Bound with royal arms of France, 1702",Estimate,"USD 3,000 - USD 4,000",Price Realised,"USD 10,625",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
2,2,LOT 3Closed,The Coronation of Alexander II,"St Petersburg, 1856",Estimate,"USD 20,000 - USD 30,000",Price Realised,"USD 22,500",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
3,3,LOT 4Closed,Charming French almanac,"Paris, 1788",Estimate,"USD 3,000 - USD 4,000",Price Realised,"USD 5,250",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
4,4,LOT 5Closed,Books on Ancient Rome,"8 works, 1587-1759.",Estimate,"USD 2,000 - USD 4,000",Price Realised,"USD 6,250",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
...,...,...,...,...,...,...,...,...,...,...,...
111,111,LOT 116Closed,The Natural History and Antiquities of Selborne,"G. White, 1789",Estimate,"USD 800 - USD 1,200",Price Realised,"USD 2,125",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
112,112,LOT 117Closed,Streetcar named Desire,"T. Williams, 1947",Estimate,"USD 1,000 - USD 1,500",Price Realised,"USD 3,500",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
113,113,LOT 118Closed,The Genus Rosa,"E. Willmott, 1914",Estimate,"USD 2,000 - USD 3,000",Price Realised,"USD 4,000",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
114,114,LOT 119Closed,Presentation copy to E.M. Forster,"Virginia Woolf, 1925",Estimate,"USD 6,000 - USD 8,000",Price Realised,"USD 68,750",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706
115,115,LOT 120Closed,Classic treatise on deer hunting,"Duc d’Angoulême copy, 1788",Estimate,"USD 1,500 - USD 2,500",Price Realised,"USD 43,750",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706

In [19]:
new = df['4'].str.split('-', 1, expand=True)
df['Min_Estimate'] = new[0]
df['Max_Estimate'] = new[1]
df.drop(columns =["4"], inplace = True)

KeyError: '4'

In [20]:
df.head()

,Unnamed: 0,0,1,2,3,5,6,7,8,9,Min_Estimate,Max_Estimate
0,0,LOT 1Closed,History of the Académie des Inscriptions et Be...,"Count of Maurepas' copy, 1740",Estimate,Price Realised,"USD 2,250",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706,"USD 1,500","USD 2,500"
1,1,LOT 2Closed,Medals of Louis XIV,"Bound with royal arms of France, 1702",Estimate,Price Realised,"USD 10,625",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706,"USD 3,000","USD 4,000"
2,2,LOT 3Closed,The Coronation of Alexander II,"St Petersburg, 1856",Estimate,Price Realised,"USD 22,500",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706,"USD 20,000","USD 30,000"
3,3,LOT 4Closed,Charming French almanac,"Paris, 1788",Estimate,Price Realised,"USD 5,250",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706,"USD 3,000","USD 4,000"
4,4,LOT 5Closed,Books on Ancient Rome,"8 works, 1587-1759.",Estimate,Price Realised,"USD 6,250",Selections from the Library of Mr. & Mrs. John...,New York,14 Jan - 29 Jan 2021 | Online 19706,"USD 2,000","USD 4,000"

In [21]:
new = df['9'].str.split('|', 1, expand=True)
df['Date'] = new[0]
df['Type'] = new[1]
df.drop(columns =["9"], inplace = True)

In [22]:
df.head()

,Unnamed: 0,0,1,2,3,5,6,7,8,Min_Estimate,Max_Estimate,Date,Type
0,0,LOT 1Closed,History of the Académie des Inscriptions et Be...,"Count of Maurepas' copy, 1740",Estimate,Price Realised,"USD 2,250",Selections from the Library of Mr. & Mrs. John...,New York,"USD 1,500","USD 2,500",14 Jan - 29 Jan 2021,Online 19706
1,1,LOT 2Closed,Medals of Louis XIV,"Bound with royal arms of France, 1702",Estimate,Price Realised,"USD 10,625",Selections from the Library of Mr. & Mrs. John...,New York,"USD 3,000","USD 4,000",14 Jan - 29 Jan 2021,Online 19706
2,2,LOT 3Closed,The Coronation of Alexander II,"St Petersburg, 1856",Estimate,Price Realised,"USD 22,500",Selections from the Library of Mr. & Mrs. John...,New York,"USD 20,000","USD 30,000",14 Jan - 29 Jan 2021,Online 19706
3,3,LOT 4Closed,Charming French almanac,"Paris, 1788",Estimate,Price Realised,"USD 5,250",Selections from the Library of Mr. & Mrs. John...,New York,"USD 3,000","USD 4,000",14 Jan - 29 Jan 2021,Online 19706
4,4,LOT 5Closed,Books on Ancient Rome,"8 works, 1587-1759.",Estimate,Price Realised,"USD 6,250",Selections from the Library of Mr. & Mrs. John...,New York,"USD 2,000","USD 4,000",14 Jan - 29 Jan 2021,Online 19706

In [23]:
df

,Unnamed: 0,0,1,2,3,5,6,7,8,Min_Estimate,Max_Estimate,Date,Type
0,0,LOT 1Closed,History of the Académie des Inscriptions et Be...,"Count of Maurepas' copy, 1740",Estimate,Price Realised,"USD 2,250",Selections from the Library of Mr. & Mrs. John...,New York,"USD 1,500","USD 2,500",14 Jan - 29 Jan 2021,Online 19706
1,1,LOT 2Closed,Medals of Louis XIV,"Bound with royal arms of France, 1702",Estimate,Price Realised,"USD 10,625",Selections from the Library of Mr. & Mrs. John...,New York,"USD 3,000","USD 4,000",14 Jan - 29 Jan 2021,Online 19706
2,2,LOT 3Closed,The Coronation of Alexander II,"St Petersburg, 1856",Estimate,Price Realised,"USD 22,500",Selections from the Library of Mr. & Mrs. John...,New York,"USD 20,000","USD 30,000",14 Jan - 29 Jan 2021,Online 19706
3,3,LOT 4Closed,Charming French almanac,"Paris, 1788",Estimate,Price Realised,"USD 5,250",Selections from the Library of Mr. & Mrs. John...,New York,"USD 3,000","USD 4,000",14 Jan - 29 Jan 2021,Online 19706
4,4,LOT 5Closed,Books on Ancient Rome,"8 works, 1587-1759.",Estimate,Price Realised,"USD 6,250",Selections from the Library of Mr. & Mrs. John...,New York,"USD 2,000","USD 4,000",14 Jan - 29 Jan 2021,Online 19706
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,111,LOT 116Closed,The Natural History and Antiquities of Selborne,"G. White, 1789",Estimate,Price Realised,"USD 2,125",Selections from the Library of Mr. & Mrs. John...,New York,USD 800,"USD 1,200",14 Jan - 29 Jan 2021,Online 19706
112,112,LOT 117Closed,Streetcar named Desire,"T. Williams, 1947",Estimate,Price Realised,"USD 3,500",Selections from the Library of Mr. & Mrs. John...,New York,"USD 1,000","USD 1,500",14 Jan - 29 Jan 2021,Online 19706
113,113,LOT 118Closed,The Genus Rosa,"E. Willmott, 1914",Estimate,Price Realised,"USD 4,000",Selections from the Library of Mr. & Mrs. John...,New York,"USD 2,000","USD 3,000",14 Jan - 29 Jan 2021,Online 19706
114,114,LOT 119Closed,Presentation copy to E.M. Forster,"Virginia Woolf, 1925",Estimate,Price Realised,"USD 68,750",Selections from the Library of Mr. & Mrs. John...,New York,"USD 6,000","USD 8,000",14 Jan - 29 Jan 2021,Online 19706
115,115,LOT 120Closed,Classic treatise on deer hunting,"Duc d’Angoulême copy, 1788",Estimate,Price Realised,"USD 43,750",Selections from the Library of Mr. & Mrs. John...,New York,"USD 1,500","USD 2,500",14 Jan - 29 Jan 2021,Online 19706

In [ ]:
#- if column conatins usd take the integer, else if 
# for date: split and convert to dateformat